# Supabase Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-anon-or-service-role-key

# Server Configuration
PORT=8000
HOST=0.0.0.0
ENV=development

# Gemini API Configuration
GEMINI_API_KEY=your-gemini-api-key-here
#bypass auth and premium for development
ENV=development
BYPASS_AUTH=True
BYPASS_PREMIUM=True